.main {
	min-height: 95%;
}

.center {
	text-align: center;
}

#pseudoConnec {
	font-weight: bold;
	color: white;
}

.title {
	margin-bottom: 0px;
}

.container {
	position: relative;
}

#footer {
	margin-top : 10px;
	margin-bottom : 0px;
	padding: 35px;
	text-align: center;
	width:100%;
	height:80px;
	bottom:0;
	left:0;
	background:#F5F5F5;
	top: 100%;
}

.container {
	position : relative;
}

.panel {
	margin: 30px;
}

.navbar {
	button {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.check {
	border-color: red;
}

.alertmsg {
	display: inline-block;
	padding: 8px;
	margin: 20px;
}

.connecnav {
	margin: 20px;
}

.formCust {
	margin: 20px;
}


.imgVille{
	float: right;
	max-width: 300px;
	box-shadow: 1px 1px 1px 1px;
}

.mapWidth{
	width: 800px;
	
}
#mapleaflet{
	height: 500px;
}
@media screen and (max-width: 1200px) {

	#footer {
		position: relative;
	}

    #alertmsgPwd {
		width: 35%;
		display: inline-block;
		margin-top: 20px;
		padding:4px;
		margin-left: auto;
		margin-right: auto;
	}
	.alertmsg {
		width: 35%;
		display: inline-block;
		margin-top: 20px;
		padding:4px;
		margin-left: auto;
		margin-right: auto;
	}


}

@media screen and (max-width: 990px) {

	#footer {
		position: relative;
	}

    #alertmsgPwd {
		width: 35%;
		display: inline-block;
		margin-top: 20px;
		padding:4px;
		margin-left: auto;
		margin-right: auto;
	}
	.alertmsg {
		width: 35%;
		display: inline-block;
		margin-top: 20px;
		padding:4px;
		margin-left: auto;
		margin-right: auto;
	}

	.mapWidth{
		width: 100%;
	}


}

@media screen and (max-width: 640px) {

	#footer {
		position: relative;
	}

    .alertmsg {
		width: 60%;
		display: block;
		margin-top: 20px;
		padding:4px;
		margin-left: auto;
		margin-right: auto;
	}

	.btnPlay{
		margin-top: 10px;
	}

	
	.btnNext,.btnFin{
		top: 285px;
		right: 38px;
		position: absolute;
	}
}


